
/*.container{
    background-color: rgb(147, 141, 141);
    height: 500px;
    max-width: fit-content
}*/


.box-1 a{
    background-color: #20968a;
    float: left 50%;
    width: 150;
    height: 50px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
}

#box-2 ul{
    padding-top: 10px;

}



.summary{
    color: #20968a;
    text-align: center;
}

/*doesn't work*/
/*.summary h2{
    align-content: center;
}*/

.navbar li{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px; 
  }
.navbar li a{ 
    color: #000;
    text-decoration: none;
}
h1{
    text-align: left;
    color: #20968a;
}

h2{
    text-align: center;
    color: #20968a;
    font-size: large;
}

h3{
    text-align: center;
    color: #20968a;
    font-size: large;
    padding-left: 28%;
}    
}
.dropdown{
    position: relative;
}

h3{
    text-align: left;
    color: #20968a;
    font-size: larger;
}